<!DOCTYPE html>
<html lang="en">
<head>
    <title>FMHY Link Verification</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <HeadOutlet/>
</head>

<body class="bg-gray-800">
<Routes />
</body>

</html>